body {
    padding: 15px 15px;

    font-weight: 400;
    font-size: 16px;
}

.search-form{
    margin-left: 33%;
}
.gallery{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 15px 15px;

}
.photo-card{
    flex-basis: calc((100% - 100px) / 5);
}
img{
    max-width: 100%;
    height: 200px;
}
b{
    margin-right: 10px;
}
.load-more{
    display: none;
    padding: 16px 29px 16px 32px;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    height: 56px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}